	<div class="payment">		
		<h2 style="margin-left: 2px;">Invest in Polly & Bob</h2>		
		
		<div class="forminformation" id="showInformationForm4">
			<p><b>In order to kick start Polly & Bob  we need money.</b></p>
			
			<p>Support us by lending us some money!</p>
			<p>Terms and conditions</p>
			<p>You give us a loan, that you can cancel after 5 years. With that you give Polly & Bob the opportunity to grow the neighborhood network to the point of financial independency. You will receive interest of 1% p.a. Minimum share is € 50, the maximum share is € 50.000 because we want to give the opportunity to generous contribution on one hand side, but to reduce the size of votes in the board. Each paid Euro counts one vote in the board of neighbors. Allthough we are non-profit oriented – we prefer to put our money in neighborhood projects – we could eventually make profits. They will be distributed to 50% to the members of the board of neighbors according to shares and dedicated by 50% into the development of the Polly & Bob. The German partiarische Nachrangsdarlehen is a generally used tool to crowd-invest into companies in the early stage. The partiarische Nachrangsdarlehen has the big advantage to crowd-invest into companies from the first moment, because we don’t have to pay app. € 500.000 for a prospect required by the financial authorities.</p>
		
		<div class="paymentdetails">
				<a class="payment-button" href="{{ path('fenchy_frontend_share') }}" style="width: 25%;">{{ 'frontend.footer.get_your_share'|trans|upper }}</a>
		</div>
		</div>
	</div>