{% extends '::baseV3.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app/main-container-v2.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/app/settings-v2.css') }}" type="text/css" />
{% endblock %}
    
{% block content %}
<style>
<!--
#contentinner .mylocation {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    float: left;
    font-family: mathletebulky;
    font-size: 26px;
    letter-spacing: 1px;
    min-height: 450px;
    padding: 15px 15px 40px;
    width: 940px;
}
-->
</style>
<section class="">
    <div >
        <div class="clearfix">
                {% block content_inner %}{% endblock %}
        </div>
    </div>
</section>             

{% endblock %}