<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
			body{ font-family:Arial, Helvetica, sans-serif; font-size:12px;background: #EEE;}
			table, th, td, thead{ border:none 0;}
			th{ text-transform:uppercase; color:#fff; background:#8f8f91; padding:15px; font-weight:normal; text-align:left;}
			td{  color:#727272;padding:15px; font-weight:normal; text-align:left;}
			p{margin: 0px; padding:5px 0px; font-size: 14px;color:#727272;}
		</style>
	</head>
	<body>
		<p>This e-mail is being sent because you requested for location verification.</p>
		<p>You can verify your address by clicking the below link.</p>		
		<a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('fenchy_regular_user_user_myprofile_locationverification') }}">Click Here</a>
		<p>Enter this password, and your location will be verified.</p>
		 
		<p><b>Your Password: <i>{{ password }}</i></b></p>
		<br/>
		Thanks & Regards
		<br/>
		PollyandBob Team
	</body>
</html>