{% extends 'FenchyAdminBundle::layout.html.twig' %}
{% block admincontent %}

    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="edituser">
              <tr>
                <td align="center">
                	
                            <form action="{{ path('fenchy_admin_'~type, {id: entity.id}) }}" method="post" {{ form_enctype(form) }} class="student-form">
                                <table width="100%" border="1" cellspacing="0" cellpadding="0" class="edituser">
                                    {{ form_widget(form) }}
                                    <br/>
                                    <input type="submit" value="Update"/>
                                 </table>
                            </form>
	               
                </td>
              </tr>
    </table>
    
{% endblock %}
    