{% for user in users %}
{#                 <div class="persen">#}
{#                     <a href="#">#}
{#                     <img src="{{ user.regularuser.avatar(false) }}" alt="" />#}
{#                     <div class="persenname">#}
{#                         <p>{{ user.userRegular.firstname }}</p>#}
{#                     </div>#}
{#                     <div class="neighbor green">#}
{#                         <p>N</p>#}
{#                         <span>168</span>#}
{#                     </div>#}
{#                     </a>#}
{#                 </div>#}
{% endfor %}