{% extends "UserBundle::layout.html.twig" %}
    
{% block content_inner %}
<section style="margin-top: 12px;" id="contentinner">
	<div class="wrapper">  
		<div class="mylocation">
		    {% block fos_user_content %}
		    <div class="password-reset-message">
		        <div class="error msg-space">
		            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
		        </div>
		    </div>
		    {% endblock %}
		</div>
		<div class="clearfix"></div>
	   	<div class="bgbottom">
			<img alt="" src="{{ absolute(asset('images/bgbottom_contantinner.png')) }}">
		</div>
	</div>    
</section>	   
{% endblock %}
