	<div class="payment">		
		<h2 style="margin-left: 2px;">Invest in Polly & Bob</h2>
		
		<div class="forminformation" id="showInformationForm4">
			<p><b>In order to kick start Polly & Bob  we need money.</b></p>
			
			<p>Support us by lending us some money!</p>
			<p>Terms and conditions</p>
			<p>Du gibst uns ein unbefristetes Darlehen, dass frühestens in 5 Jahren gekündigt werden kann. Damit gibst du Polly & Bob die finanziellen Möglichkeiten, um das Netzwerk soweit aufzubauen, dass sich Polly & Bob über eigene Erlöse finanzieren kann. Dein Darlehen wird mit 1% p.a. verzinst.</p>

			<p>Die Mindestbeteiligung beträgt 50 €. Die maximale Beteiligungsgröße ist 50.000 €, weil wir einerseits auch größzügigen Spendern die Möglichkeit der Beteiligung geben wollen und andererseits aber auch Stimmrechte nicht zu stark bündeln wollen. Jeder eingezahlte Eure beinhaltet eine Stimme im Nachbarschaftsgremium.

			<p>Obwohl Polly & Bob nicht gewinnorientiert arbeitet – lieber geben wir das Geld wieder in Nachbarschaftsprojekte – könnte es bei guter Führung passieren, dass auch Gewinne erzielt werden. Diese werden zur Hälfte für die Weiterentwicklung von Polly & Bob genutzt. Die andere Hälfte wird zusätzlich zu den Darlehenszinsen anteilig unter den Mitgliedern verteilt.</p>

			<p>Das partiarische Nachrangsdarlehen ist ein übliche Form des Corwd-Investment, wie sie von den führenden Crowd-Investment Plattformen verwendet wird. Die Beteiligung über das partiarische Nachrangsdarlehen hat den Vorteil, eine rechtliche Beteiligung am Eigenkapital für viele Nachbarn zu ermöglichen ohne die strengen Auflagen und Pflichten der BaFin erfüllen zu müssen, was mit sehr hohen, zur Zeit nicht tragbaren Kosten verbunden wäre.</p>
		
		</div>
	</div>