<style>	
	#showInformationForm > ul {
	    color: #000000;
	    font-family: code_boldregular;
	    font-size: 12px;
	    letter-spacing: 1px;
	    line-height: 1.5;
	    margin-left: 25px;
	}
	#showInformationForm li {
    	background: url("/images/1.png") no-repeat left 5px;
    	padding-left: 3em;
	}	
</style>
<div class="payment">
	<h2 style="margin-left: 1px;">Join the Movement</h2>
		
		<div class="forminformation" id="showInformationForm">
			<p>What we want!</p>
			<ul>
				<li>We want to improve the way we live together in our neighborhoods</li>
				<li>We want to improve the economical standard of each neighbor.</li>
				<li>We want to establish a collaborative lifestyle and want to help the shared economy to break through.</li>
				<li>We want to solve environmental problems in using resources more efficient.</li>
				<li>We want to build a better internet with more rights for the user.</li>
			</ul>
			
			<p>What can I do?</p>
			<ul>
				<li>join the plattform and be active</li>
				<li>volunteer to grow the neighborbase in your area</li>
				<li>help us in any area of your interes</li>
				<li>spread the word and tell everybody about Polly & Bob</li>
				<li>join the baord of neighbors</li>
				<li>financial support: donate ore buy shares of Polly & Bob </li>
			</ul>
			<p>Contact: <u style="color: cornflowerblue; cursor: pointer;">volker@pollyandbob.com</u></p>
		</div>
		
		
		<h2 style="margin-left: 1px;">Jobs</h2>
		
		<div class="forminformation" id="showInformationForm">
		<p>When you want to work for Polly & Bob in the core team you should</p>				
			<ul>
				<li>love the idea of a new neighborhood</li>
				<li>fit into our culture and share a certain kind of crazyness and in a way</li>
				<li>be ambitous to make stuff 100%</li>
				<li>being enthusiastic and having fun with what you do</li>
			</ul>
			<br>
			<p>We are currently looking for people who love to help us growing Polly & Bob.
			<br>Expertise in community management, growth management, project management or coding is a plus.
			<br>Remuneration mainly on shares basis.
			<br>Flexible working hours and work circumstances.</p>
			<p>We offer to be a crucial part of a movement to make this world a better place and we ask you to join us and contribute your talents to our team and to our success.</p>
		</div>
</div>